/* GENERAL */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem
}

a {
  color: white;
  text-decoration: none;
}

a[class="navbar-brand"]:hover {
  color: white;
  text-decoration: none;
}


/* JUMBOTRON */

.jumb__main {
  background-image: url(images/beach-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 70vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-top: 0;
  padding-bottom: 0
}

.jumb__sub {
  background-color: transparent;
}

.jumb__main-text {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 800;
}

/*  CARD WITH INFO  */

.card-custom {
  background-color: white;
  padding: 30px;
  padding-bottom: 80px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.alert-extra {
  text-align: center;
}

/* JIGSAW MAIN */

.jigsaw__grid-main-container {
  display: flex;
  position: relative;
  width: 900px;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-top: -350px
}

.jigsaw__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 0;
  width: 660px;
  margin: 0 auto 50px auto;
  padding: 30px;
  background-color: white;
}

.jigsaw__grid-item {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.jigsaw__grid-item--1,
.jigsaw__grid-item--3,
.jigsaw__grid-item--5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

/* JIGSAW SUB */

.jigsaw__flex-container {
  display: flex;
  justify-content: center;
  margin: 0px auto 50px auto;
}

.jigsaw__flex-item {
  width: 200px;
  height: 200px;
  background-color: green;
  margin-right: 20px;
}

.jigsaw__flex-itemh {
  width: 200px;
  height: 200px;
  background-color: green;
  margin-right: 20px;
}

.jigsaw__flex-item--1 {
  background-image: url(images/image_part_001.jpg)
}

.jigsaw__flex-item--2 {
  background-image: url(images/image_part_002.jpg)
}

.jigsaw__flex-item--3 {
  background-image: url(images/image_part_003.jpg)
}

.jigsaw__flex-item--4 {
  background-image: url(images/image_part_004.jpg);
}

.jigsaw__flex-item--5 {
  background-image: url(images/image_part_005.jpg)
}

.jigsaw__flex-item--6 {
  background-image: url(images/image_part_006.jpg)
}

.highlight {
  opacity: 1;
}